<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>JSON-Template</string>
  <key>ordering</key>
  <array>
    <string>51987eb6-dcfd-4c22-bcee-373bf7aad1be</string>
    <string>ff1ce9f8-bdc5-4205-9513-671c03a61ea9</string>
  </array>
  <key>uuid</key>
  <string>6bba9be2-76cd-450d-b5c5-9a1c51ab38a9</string>
</dict>
</plist>
